<ion-header>
  <ion-toolbar>
    <ion-title>Robusta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/rb.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>
        Kopi Robusta yang pertama kali ditemukan di Kongo pada tahun 1898. Memiliki ukuran biji yang besar dan umumnya berbentuk besar. Robusta, dapat tumbuh di lingkungan sejuk maupun di lingkungan yang tergolong panas. Dimana jenis Arabika tidak dapat tumbuh. Kopi yang biasa tumbuh di negara-negara beriklim tropis dan sub tropis ini memang tidak memiliki aroma dan rasa sebaik jenis Arabika. Rasanya juga lebih pahit dan sedikit asam serta kandungan kafeinnya lebih tinggi. Jadi wajar saja kalau jenis Robusta ini dipatok dengan harga yang lebih murah.

Robusta berkembang biak di ketinggian 800 mdpl yang banyak ditemukan di Afrika barat, Afrika tengah, Asia tenggara serta Amerika selatan.
      </p>
    </ion-row>

</ion-content>
