<ion-header>
  <ion-toolbar>
    <ion-title>
      KOPIPEDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/bg.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>KOPINEWS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Filosofi Kopi bagi para penggemarnya yaitu dengan eminum kopi di pagi hari menjadi ritual wajib bagi sebagian masyarakat di dunia. Kandungan kafein dalam kopi terbukti membuat tubuh menjadi segar dan rasa kantuk pun hilang. Selain itu kopi juga memiliki rangkaian manfaat untuk kecantikan serta kesehatan. Bagi kecantikan sebut saja mengangkat sel kulit, mengurangi selulit serta mempercepat pertumbuhan rambut.

          Sedangkan untuk kesehatan diantaranya melindungi dari penyakit Parkinson dan outmere. Mengurangi resiko penyakit hati, menurunkan resiko jenis kangker kulit, meminimalisir kanker payu darah, meningkatkan kemampuan olahraga, dan sebagainya. Dari hasil peneliti yang baru baru ini meminum kopi dapat membantu indra penglihatan..</p>
      </ion-card-content>
      
  </ion-card>
</ion-content>
