<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/s.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>
      KOPILAKU <br>
      kopi sangat erat kaitannya dengan peradaban kaum muslim era kekhalifahan. Peradaban muslim punya pengaruh yang besar bagi perkembangan peradaban dunia, baik dalam hal sains, teknologi, budaya, seni, sastra, hingga kuliner. Budaya minum kopi adalah salah satunya. <br>
    </p>
</ion-content>
