<ion-header>
  <ion-toolbar>
    <ion-title>Teknik Seduh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/a.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>
        Teknik Menyeduh Kopi <br>
Menyeduh kopi dapat dilakukan dengan berbagai cara, selain di seduh langsung seperti kopi tubruk, bisa juga disajikan dengan berbagai macam teknik dan peralatan. Filosofi kopi berdasarkan cara menyeduhnya.

Berikut Teknik Menyeduh Kopi <br> <br>
1. Drip Method <br>

Drip Method atau metode kopi tetes yang sampai saat ini merupakan cara membuat kopi yang paling populer karena kesederhanaan dan efisiensinya. Untuk membuatnya, tuangkan air ke kopi bubuk yang diletakkan diatas kertas saring kedalam bejana. Untuk menyeduhnya panaskan bejana tersebut dan kopi siap disajikan. <br><br>

2. French Press Method <br>

French Press method, metode kedua ini mengekstrak paling banyak cita rasa terbanyak yang terdapat didalam kopi bubuk. Harga alatnya pun terjangkau dan mudah diperoleh. Untuk membuatnya tuangkan kopi secukupnya lalu tuangkan air mendidih yang telah didiamkan selama satu menit kedalam alat. Aduk selama 30 detik sampai satu menit. Tekan kopi yang telah diaduk menggunakan French press secara perlahan dan tuangkan kedalam cangkir secara perlahan juga.<br><br>

3. Arab Method<br>

Arab Method yang menghasilkan kopi dengan rasa yang sangat kuat dan pekat. Untuk membuatnya kopi digiling secara manual menggunakan lesung dan alung. Kemdian ditaruh kedalam bejana yang disebut ibrik bersama gula dan air. Campuran ini didihkan selama tiga kali sebelum dituangkan kedalam cangkir.<br><br>

4. Espresso<br>

Espresso dapat dikatakan bahwa mesin espresso adalah salah satu mesin kopi yang paling canggih karena hampir semua elemen seperti pengaturan suhu dapat diatur secara otomatis. Namun tak dapat dipungkiri, tangan seorang baristalah yang menentukan sebuah rasa dari secangkir kopi yang dilahirkan.<br><br>

5. Vacum Method<br>

Apakah anda pernah mendengar Metode Vacum? Metode ini cukup unik dan membutuhkan kesabaran untuk menghasilkan secangkir kopi tanpa ampas. Caranya tempatkan bubuk kopi ke tabung paling atas dan air pada bagian bawah, air bagian bawah yang telah dididihkan akan menguap dan dimasukkan kedalam tabung atas yang berisi kopi melalu selang penghubung antara tabung atass dan tabung bawah. Setelah semua air berada di tabung atas, hentikan proses mendidihkan air dan tunggu air menjadi dingin. Selanjutnya kita menunggu air di tabung atas kembali ke tabung bagian bawah.<br><br>

6. Vietnam Drip Method<br>

Vietnam Drip Method yang sering kita temui di kedai-kedai. Vietnam drip sangat sederhana yaitu terdiri hanya saringan bawah, cangkir, saringan atas, dan penutup. Saringan atas sendiri berfungsi untuk menekan kopi sehingga ketika terkena air panas, sari kopi akan keluar. Caranya lenteng saringan ditaruh diatas cangkir kemudian masukkan bubuk kopi yang digiling kasar kedalam cangkir saringan. Letakkan saringan atas diatasnya kemudian tuangkan air panas dan kopi akan menetes sedikit demi sedikit kedalam gelas. Jika mengikuti cara Vietnam, sebelum menyeduh kopi kedalam gelas sudah tertuang susu kental manis.Teknik Menyeduh Kopi
Menyeduh kopi dapat dilakukan dengan berbagai cara, selain di seduh langsung seperti kopi tubruk, bisa juga disajikan dengan berbagai macam teknik dan peralatan. Filosofi kopi berdasarkan cara menyeduhnya.
      </p>
    </ion-row>

</ion-content>
