<ion-header>
  <ion-toolbar>
    <ion-title>Liberica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/lb.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>
        Kopi Liberika, jenis yang satu ini memang belum terlalu banyak beredar di pasaran dunia karena memang sangat sedikit produsen yang mengembangkannya. Liberika memiliki ciri-ciri bijinya yang ukurannya lebih besar dengan jenis Arabika dan Robusta. Kopi yang berasal dari Afrika barat tepatnya Liberia ini dapat tumbuh hingga 9 meter dan biasanya berkembang di dataran rendah dengan kualitas biji yang relative rendah.

        Namun kopi Liberika sempat berkembang di Indonesia dan masuk pada abad ke 19 sebagai pengganti jenis Arabika yang terserang hama penyakit. Indonesia adalah surganya kopi karena hampir berbagai jenis dihasilkan dsini.
      </p>
    </ion-row>

</ion-content>
